<%- include('../partials/adminL/header.ejs') %>

<aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/imgs/theme/jaeger.png" class="logo" alt="Jaeger Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
               
                <li class="menu-item">
                    <a class="menu-link" href="/admin/sales"> <i class="icon material-icons md-assessment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
              
            </ul>
            <hr>
           
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                   
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <% if (typeof success !== 'undefined' && success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                    <% } %>
                    <form action="/admin/category" method="GET" class="d-flex">
                        <input type="text" name="search" placeholder="Search Categories" class="form-control bg-white" value="<%= search %>">
                        <button type="submit" class="btn btn-primary ms-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/addCategory">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" required />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Visibility</label>
                                    <select class="form-select" name="Visibility" id="visibility" required>
                                        <option value="List">List</option>
                                        <option value="Unlist">Unlist</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="applyingOffer" class="form-label">Applying Offer (%)</label>
                                    <input type="number" name="categoryOffer" class="form-control" id="categoryOffer" placeholder="Enter offer percentage" min="0" max="100" step="1" required />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="description" id="descriptionId" class="form-control" required></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> -->
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <!-- <th>Sl.no</th> -->
                                            <th><div class="d-flex justify-content-end pe-5">Action</div></th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%cat.reverse().forEach((category,index)=>{%>
                                        <tr>
                                            <!-- <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td> -->
                                            <td><category class="_id"></category></td>
                                            <td><%=category.name%></td>
                                            <td class="text-start"> 
                                                <%if(category.isListed){%>
                                                <span 
                                                class="badge rounded-pill alert-success"
                                                style="width: 60px;"
                                                >Listed
                                                </span>
                                                <%}else{%>

                                                <span
                                                class="badge rounded-pill alert-danger"
                                                style="width: 60px;"
                                                >Unlisted
                                                </span>
                                                <%}%>
                                            </td>
                                            <td><%= new Date(category.createdAt).toISOString().split('T')[0] %></td>
                                            <!-- <td>1</td> -->
                                            <td class="text-start">
                                                <%if(category.isListed){%>
                                                    <a href="/admin/unlistCategory?id=<%=category._id%>" class="btn btn-danger" style="width: 100px; text-decoration: none; color: white;">
                                                        Unlist
                                                        </a>
                                               
                                                <%}else{%>
                                                    <a href="/admin/listCategory?id=<%=category._id%>" class="btn btn-success" style="width: 100px; text-decoration: none; color: white;">
                                                        List
                                                        </a>
                                                <%}%>
                                            </td>
                                            <td><a class="dropdown-item" href="/admin/editCategory?id=<%=category._id%>">Edit info</a></td>
                                        </tr>                
                                        <%})%>
                            
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->


            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="/admin/categories?page=<%= i %>">
                          <%= i.toString().padStart(2, '0') %>
                        </a>
                      </li>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="/admin/categories?page=<%= currentPage + 1 %>">
                          <i class="material-icons md-chevron_right"></i>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </nav>
              </div>
              
            
            
        </section> <!-- content-main end// -->

        <script>

            function handleFormSubmit(event) {
                event.preventDefault();

                if (!validateForm()) {
                    return;
                }

                const name = document.getElementsByName("name")[0].value;
                const description = document.getElementById("descriptionId").value;
                const categoryOffer = Number(document.getElementById("categoryOffer").value);
                const visibility = document.getElementById("visibility").value;

                fetch('/admin/addCategory', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ name, description, visibility, categoryOffer })  
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(err => {
                            throw new Error(err.error);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    location.reload();
                })
                .catch(error => {
                    if (error.message === "Category already exists") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops',
                            text: 'Category already exists'
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops",
                            text: "An error occurred while adding the category",
                        });
                    }
                });
            }


            function validateForm() {
                clearErrorMessages();
                let isValid = true;

                const name = document.getElementsByName('name')[0].value.trim();
                const description = document.getElementById('descriptionId').value.trim();
                const categoryOffer = document.getElementById('categoryOffer');
                const offerValue = categoryOffer.value.trim();

                if (name === "") {
                    displayErrorMessage("name-error", "Please enter a name");
                    isValid = false;
                } else if (!/^[a-zA-Z\s]+$/.test(name)) {
                    displayErrorMessage("name-error", "Category name should contain only alphabetic characters");
                    isValid = false;
                }

                if (description === "") {
                    displayErrorMessage("description-error", "Please enter a description");
                    isValid = false;
                }

                if (offerValue === "") {
                    displayErrorMessage("categoryOffer-error", "Must add a category offer");
                    isValid = false;
                } else if (isNaN(Number(offerValue)) || Number(offerValue) < 0 || Number(offerValue) > 100) {
                    displayErrorMessage("categoryOffer-error", "Offer must be a number between 0 and 100");
                    isValid = false;
                }

                return isValid;
            }


            function displayErrorMessage(elementId,message){
                var errorElement = document.getElementById(elementId);
                errorElement.innerText = message;
                errorElement.style.display = "block";
            }

            function clearErrorMessages(){
                const errorElements = document.getElementsByClassName("error-message");
                Array.from(errorElements).forEach((element)=>{
                    element.innerText = "";
                    element.style.display="none";
                });
            }



        </script>
<br>

        <%- include('../partials/adminL/footer.ejs') %>
        